/* imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Poppins:wght@500&display=swap');

/* style for all elements */
body{
    font-family: 'Licorice', cursive;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    background: #E02C6D;
    border-radius: 41px;
    width: 196px;
    height: 44px;
    padding: 10px 24px 10px 24px;
}
.button-div a{
    text-decoration: none;
    text-align: center;
    color: white;
}

/* section-1 styles */
.container-1 p{
    font-size: 24px;
    font-weight: 700;
}
.container-1{
    display: flex;
    flex-wrap: wrap;
}

/* Section-2 styles */
.container-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 70px;
}
.container-2-item-1{
    margin-top: 75px;
    width: 582px;
    height: 270px;
}
.container-2-item-2{
    margin-left: 133px;
}
.container-2-item-2 img{
    width: 440px;
    height: 414px;
}
.container-2-item-2:hover img{
    transform: rotate(360deg);
    transition: transform 2s ease-in-out;
}

.container-2-heading{
    font-size: 52px;
    margin: 0;
}
.container-2-heading p{
    font-size: 16px;
}

/* Section-3 styles */
.container-3{
    margin:70px
}
.container-3>h2{
    text-align: center;
}
.container-3 .products{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.container-3 .product{
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.section-3-footer{
    text-align: end;
}
.rating .fas{
    color: #FB8200;
}
.section-3-footer >a{
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}
/* Section Bonus Styles */

.logos img{
    width: 25%;
}
.container-bonus{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    margin-bottom: 10px;
}
.contact-form,.download-app{
    justify-content: center;
    text-align: center;
}
.button-2{
    background: #E02C6D;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 30px;
    padding: 5px 5px 5px 5px;
}
.logos{
    margin: 15px;
}


/* Body Footer Styles */
.body-footer{
    background: #0A0826;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer .fab{
    color: #FFFFFF;
    font-size: 15px;
    margin:20px 10px 0 0;
    background-color: rgba(255, 255, 255, 0.089);
    padding: 10px;
    border-radius: 25px;
}
footer h1,p{
    margin: 0;
}

/* Media Queries */

/* Mobile Devices */
@media only screen and (max-width:688px) {
    
    .button{
        background: #E02C6D;
        border-radius: 41px;
        width: 196px;
        height: 44px;
        padding: 10px 24px 0 24px;
    }
    
    /* ----------------------- */
    .container-1{
        display: flex;
        justify-content: center;
    }
    .container-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-2-item-1{
        width: 404px;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        height: 222;
        justify-content: center;
    }
    .article-1{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .article-1 h1{
        text-align: center;
        font-size: 28px;
    }
    .article-1 p{
        text-align: center;
    }
    .container-2-item-2{
        margin: 0;
        margin-top: 20px;
        padding: 0;
        justify-content: center;
    }
    .button-div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* -------------------- */

    
    .container-2-item-2 img{
        width: 202px;
        height: 190px;
    }
    .container-2-item-2:hover img{
        transform: rotate(360deg);
        transition: transform 2s ease-in-out;
    }
    .container-2-para{
        width: 321px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .container-2-heading{
        font-size: 52px;
        margin: 0;
        margin-bottom: 15px;
    }
    .container-2-heading p{
        font-size: 16px;
    }


    /* ------------------------- */
    .container-3{
        display: flex;
        flex-wrap: wrap;
    }
    .container-3 .products{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    
    }
    .container-3-heading{
        margin-left: 60px;
    }
    .section-3-footer{
        margin-left: 245px;
        
    }
    
    .container-bonus{
        display: flex;
        flex-wrap: wrap;
    }
    .logos{
        margin: 0;
    }
}


/* Tablet devices */
@media only screen and (min-width:688px) and (max-width:1024px) {
    .container-1{
        display: flex;
        justify-content: center;
    }
    .container-2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .container-2 .container-2-item-1{
        margin-left: 100px;
    }
    .container-3 .products{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .container-bonus{
        display: flex;
        flex-wrap: wrap;
    }
    .logos{
        margin: 0;
    }
}